nav{
    width: 100vw;
    height: 10vh;
    margin: 0px;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}

.sorter{
    padding: 10px;
}

.sorter:hover{
    border-bottom: 1px solid #b71540;
}